:root{
    --primary-color: #FB2E86;
    --secondary-color: #0D0E43;
}

.cart{
    width: 50px;
    margin-right: 50px;
  }

  .spc{

    margin-left: 100px;
  }

  @media only screen and (min-width: 800px)  {
    .spc{
      margin-left: 400px;
    }
  }

  @media only screen and (min-width: 1024px)  {
    .spc{
      margin-left: 650px;
    }
  }
  
  @media only screen and (min-width: 1200px)  {
    .spc{
      margin-left: 850px;
    }
  }

  .cart-count{
    background-color: var(--primary-color);
    width: 15px;
    height: 25px;
    border-radius: 50%;
    margin-top: -20px;
    margin-right: -20px;
    color: #fff;
    float: right;
  }
  
  .faas:hover{
    background-color: var(--primary-color);
  }
  
  .faas:focus{
    background-color: var(--secondary-color);
  }
  
  .header-top{
  
      /* identical to box height */
    
    
    color: #1A1A1A;
    background-color: rgb(71, 30, 184);
  }
  
  .toggle-button{
    background-color: white;
    border-style: none;
  }
  
  .navbar-logo{
  
  font-family: 'Josefin Sans';
  font-size: 34px;
  line-height: 40px;
  
  color: var(--secondary-color);
  }
  
  .nav-link{
    color: var(--secondary-color);
  }
  
  .nav-link:hover{
    color: var(--primary-color);
  }
  
  .navbar-logo:hover{
    color: var(--primary-color);
  }
  
  .btn-outline-success{
    color: var(--primary-color);
  }
  
  .btn{
    border-color: var(--primary-color);
  }
  
  .btn:hover{
    background-color: var(--primary-color);
  }
  
  .navbar-toggler-icon{
    color: #1A1A1A;
  }
  
  NavLink{
    color: pink;
  }
  
  @media only screen and (max-width: 700px) {
    .ht-l{
      margin-right: 20px;
    }
    .footer-links{
      margin-right: 20px;
    }
  }
  
  .top-address{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 12px;
    }
  
    .sub-nav{
      font-weight: 400px;
      font-size: large;
    }